.view-teaching-tips-by-category .view-content .item-list ul {
  margin: 0;
  padding: 0 0 1em 2.7em !important;
}

#block-views-tip-search-block,
#views-exposed-form-tip-search-block .views-exposed-form {
  margin-bottom: 1.5em;
}

.view-uw-tip-search .view-content .views-row .views-field-field-body-no-summary,
.view-uw-tip-search-root .view-content .views-row .views-field-field-body-no-summary {
  margin-bottom: 1.2em;
}

#edit-field-tip-tags-tid,
#edit-field-body-no-summary-value {
  width: 19em;
}

#views-exposed-form-uw-tip-search-page-1 .views-exposed-form .views-exposed-widget .form-submit {
  margin-bottom: 0.5em;
  margin-top: 0.5em
}

#views-exposed-form-uw-tip-search-root-block-1 .views-exposed-widgets {
  margin-bottom: 2em;
}
.views-field-field-tips-image .field-content a img {
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  max-width: none;
  margin-bottom: 1.2em;
  padding: 2px 0pt;
  float: left;
}

.views-field-field-tips-image .field-content {
  padding-right: 10px;
  float: left;
}

#edit-advanced .form-item .form-text,
#edit-advanced--2 .form-item .form-text {
  width: 18em;
}

.search-advanced .form-item,
.form-actions {
  margin-bottom: 0.4em;
  margin-top: 0em;
}

.view-teaching-tips-by-tid .views-row .views-field-field-body-no-summary {
  margin-bottom: 1em;
}
